{"embed_layer": "conv", "n_layers": 2, "decode_layer": "simple", "node_model": "simple", "edge_model": "simple", "span_agg": "sum", "path_agg": "max", "hidden_dim": 50, "dropout": 0.5, "rdropout": 0.1, "update_L": false, "update_L_": true, "use_gold": true, "embed_dim": 50, "n_features_fixed": 2, "n_features_learn": 4, "n_features_exact": 3, "feat_dim": 108, "output_node_dim": 12, "output_arc_dim": 5, "node_weights": [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0], "edge_weights": [1.0, 1.0, 1.0, 1.0, 1.0], "vocab_dim": 3969}